# Created by .ignore support plugin (hsz.mobi)

# НЕ ИГНОРИРУЕМ ТОЛЬКО ФАЙЛЫ ИСХОДНИКОВ

# IntelliJ project files
.idea
*.iml

# Игнорируем скомпиленные файлы
*.jar
*.ear
*.war


out/
gen

#maven files
target/

#log files
*.log

